<h1>New Artist_Instrument Page!!</h1>


<div>
    <%= form_for @artist_instrument do |f| %>
        <%= f.label :artist %>
        <%= f.collection_select :artist_id, Artist.all, :id, :name %><br><br>

        <%= f.label :instrument %>
        <%= f.collection_select :instrument_id, Instrument.all, :id, :name %><br><br>

        <%= f.submit %>
    <% end %>
</div>